RABBITMQ_URL=amqp://articleswap:articleswap@rabbitmq:5672
RABBITMQ_CONSUMER_NAME=forwarding-inbox-service
RABBITMQ_PREFETCH=1
CONSUME_TOPIC=article-wordcloud-generated
PRODUCE_TOPIC=article-delivered
DATABASE_URL=postgresql://articleswap:articleswap@postgres:5432/articleswap
