KAFKA_BROKERS=kafka:9092
KAFKA_CONSUMER_GROUP=forwarding-inbox-service
CONSUME_TOPIC=article-wordcloud-generated
PRODUCE_TOPIC=article-delivered
DATABASE_URL=postgresql://articleswap:articleswap@postgres:5432/articleswap
