RABBITMQ_URL=amqp://articleswap:articleswap@rabbitmq:5672
RABBITMQ_DELIVERED_EXCHANGE=article-delivered.exchange
RABBITMQ_CONSUMER_NAME=gateway1
RABBITMQ_PREFETCH=10
CLUSTER_PEERS=gateway1:5173,gateway2:5173
ARTICLE_SERVICE_URL=http://article-service:3000
HOSTNAME=gateway1
