KAFKA_BROKERS=kafka:9092
KAFKA_CONSUMER_GROUP=stemming-service
CONSUME_TOPIC=article-submissions
PRODUCE_TOPIC=article-stemmed
DATABASE_URL=postgresql://articleswap:articleswap@postgres:5432/articleswap
